<?xml version="1.0" encoding="UTF-8" ?>

<connectionStrings>
    <add name ="DatabaseConnection"
        providerName = "System.Data.SqlClient"
        connectionString ="Data Source=localhost;Initial Catalog=GroupFour;
        IntegratedSecurity=True;MultipleActiveResultSets=True"/>
</connectionStrings>